@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"]::-webkit-slider-thumb {
    pointer-events: auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -webkit-appearance: none;
    @apply bg-black;
  
    /* @apply w-6 h-6 appearance-none pointer-events-auto; */
  }

  .dark input[type="range"]::-webkit-slider-thumb {
    @apply bg-white;
  }

    input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.4);
  }